@import "tailwindcss";

.slide-in {
    animation: slideIn 2s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.image-slide-up {
    animation: imageSlideUp 1s alternate;
}

@keyframes imageSlideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}